<footer class="hero is-fullheight faq">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title has-text-primary">{{ meta.siteName }}</h1>
      <h2 class="subtitle">FAQ - Questions and Answers</h2>
      <h3 class="question">What do I get when I order a certificate?</h3>
      <p class="answer">You'll receive a beautifull frame you can hang on your wall. In this frame resides the
        Certificate of
        Awesomeness, proving once and for all that your are in fact Awesome. This will be shipped to you by
        parcel, using either
        <a rel="noopener"
           href="https://www.postnl.nl/en/mail-and-parcels/parcels/domestic-parcel/"
           target="_blank">PostNL Domestic Parcel
        </a>
        or
        <a rel="noopener"
           href="https://www.postnl.nl/en/mail-and-parcels/parcels/international-parcel/"
           target="_blank">PostNL
          International Parcel
        </a>
        , depending on your shipping address. Indicated prices have
        <strong>shipping
          included.
        </strong>
      </p>
      <h3 class="question">How long will it take for my certificate to arrive?</h3>
      <p class="answer">Your certificate will be processed as soon as possible, after your payment has been fulfilled. This usually takes approximatly up to two business days. After that the certificate will be sent to the address you specified. It will be sent from The Netherlands and will normally take between 1 and 20 days to arrive, depenending on your geographical location. The further from The Netherlands, the longer it takes.</p>
      <h3 class="question">How is the price composed?</h3>
      <p class="answer">The price is based on what the production company charges for producing the
        certificate,
        the price for
        the frame your certificate ships with, the shipping cost of actually sending the package to your
        address
        and finally the `cut` for Institute of Awesomeness, which is used to cover the costs of running this
        website and getting filthy rich.</p>
      <h3 class="question">Who's behind the Institute of Awesomeness?</h3>
      <p class="answer">Rector Magnificus of the Institute of Awesomeness, founder, owner, builder,
        constructor
        and janitor is
        <a rel="noopener"
           href="https://www.linkedin.com/in/jenskooij/" target="_blank">Jens Kooij
        </a>
        .
      </p>
    </div>
  </div>
</footer>