{% macro input(name, label, placeholder, help, type="text") %}
    <div class="field">
        <label class="label" for="{{ name }}">{{ label }}</label>
        <div class="control">
            <input tabindex="0" required id="{{ name }}" name="{{ name }}" class="input" type="{{ type }}" placeholder="{{ placeholder }}"/>
        </div>
        {% if help %}
        <p class="help">{{ help }}</p>
        {% endif %}
    </div>
{% endmacro %}