.has-primary-bg {
  background-color:$primary;
}

.has-grey-light-bg {
  background-color:$grey-light;
}

.has-yellow-bg {
  background-color:$yellow;
}

.has-grey-dark-bg {
  background-color:$grey-dark;
}