// Some letter spacing for Bangers font
.title {
  letter-spacing: 0.05em;
}

html {
  scroll-behavior: smooth;
}

.select select{
  width:100%;
}

.button.is-primary[disabled] {
  color:#363636;
}

a:not(.button) {
  font-weight:bold;
}