@for $i from 1 through 10 {
  .has-sequenced-fade-in:nth-child(#{$i}) {
    opacity:0;
    animation: fadein 1s #{$i}s;
    animation-fill-mode: forwards;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}