@charset "utf-8";

// Import a Google Font
@import "font";

// Update Bulma's global variables
$family-sans-serif: 'Playfair Display', serif;
$grey-dark: #440047;
$grey-light: #fbecec;
$primary: #e11d74;
$link: $primary;
$yellow: #E0B11E;
$success: #91d18b;
$family-secondary: 'Bangers', sans-serif;
$title-family: $family-secondary;
$body-size: 22px;

$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $grey-light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$small-font-size: 0.775em;

// General overrides
@import "general";
// Custom color usage
@import "custom-colors";
// Custom elements
@import "hero";
@import "faq";
@import "price";
@import "sequenced-fade-in";



.is-small-caps {
  font-variant: small-caps;
}

.is-not-italic {
  font-style: normal !important;
}



// Import only what you need from Bulma
@import "../../node_modules/bulma/bulma.sass";