<!DOCTYPE html>
<html lang="en">
  {%- set pageTitle %}{% if title %}{{ title }} | {% endif %}{{ meta.siteName }}{% endset -%}
  {%- set pageDescription %}{% if description %}{{ description }}{% else %}{{ meta.siteDescription }}{% endif %}{% endset -%}
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ pageDescription }}"/>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{{ '/style.css' | url }}" media="screen" as="style">
    <meta name="twitter:card" content="summary_large_image"/>
    {% if meta.twitterUsername %}
      <meta name="twitter:creator" content="@{{ meta.twitterUsername }}"/>
    {% endif %}
    <meta name="twitter:title" content="{{ pageTitle }}"/>
    <meta name="twitter:description" content="{{ pageDescription }}"/>

    <meta name="og:title" content="{{ pageTitle }}"/>
    <meta name="og:description" content="{{ pageDescription }}"/>
    <meta property="og:image" content="{{ meta.socialImage }}"/>
    <meta name="twitter:image" content="{{ meta.socialImage }}"/>

    <link rel="apple-touch-icon" href="{{ meta.appleTouchIcon }}">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
    <link rel="icon" href="{{ '/favicons/favicon-96x96.png' | url }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#e11d74">
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#e11d74">

    <link rel="canonical" href="{{ meta.url }}{{ canonical }}"/>
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}">
    {% if noIndex %}
      <meta name="robots" content="noindex,nofollow"/>
    {% endif %}
  </head>
  <body>
    {{ content | safe }}
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('{{ meta.url }}/sw.js');
        });
      }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4HL005DE13"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-4HL005DE13');
    </script>
  </body>
</html>