---
permalink: 404.html
layout: layout/base.njk
canonical: /404.html
---
<main class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">Page not found</p>
            <p>The page you are looking for doesn't exist.</p>
            <p>Try going to the <a href="/">homepage</a> to find what you're looking for.</p>
            <hr/>
            <h1>{{ meta.siteName }}</h1>
        </div>
    </div>
</main>