---
layout: layout/base.njk
canonical: /cert
noIndex: true
---
<main class="hero is-fullheight has-grey-dark-bg">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="box" id="loading">
        <h1>Validating certificate</h1>
        <progress class="progress is-small is-primary" max="100%"></progress>
      </div>
      <div class="box is-hidden p-6" id="success">
        <h1 class="is-capitalized is-small-caps is-size-3">Institute of Awesomeness</h1>
        <p class="has-text-centered mt-3">This is to certify that <strong class="is-block is-size-4 mt-2 mb-2 has-text-weight-bold" id="name"></strong> has proven beyond reasonable doubt to be <em class="is-block mt-3 is-size-3 is-not-italic is-family-secondary has-text-primary">Awesome</em></p>
        <hr class="is-half"/>
        <small class="has-text-centered">
          <strong class="is-block">Jens Kooij</strong>
          Institute of Awesomeness Lead Instructor and<br /> Course Designer
          <nav class="mt-3">
            <a href="{{ meta.url }}">Want to get certified too?</a>
          </nav>
        </small>

      </div>
      <div class="box is-hidden" id="failed">
        <div class="notification is-danger is-light">
         This certificate could not be validated at this time.
        </div>
      </div>
    </div>
  </div>

</main>

<script>
  (() => {
    if (typeof fetch !== "function") {
      return; // This is need so as to not break Uncss, which is run in Node, which means fetch isnt defined.
    }
    const urlParams = new URLSearchParams(window.location.search);
    const orderId = urlParams.get('id');
    fetch('{{ meta.lambdaUrl }}/confirm-order?order_id=' + orderId)
      .then(response => response.json())
      .then(data => {
        document.getElementById('loading').classList.add('is-hidden');
        if (data.paymentStatus === "Successful") {
          document.getElementById('name').innerHTML = data.name;
          document.getElementById('success').classList.remove('is-hidden');
        } else {
          document.getElementById('failed').classList.remove('is-hidden');
        }
        console.log(data);
      })
      .catch(err => console.error(err));
  })();
</script>