---
layout: layout/base.njk
canonical: /confirm
noIndex: true
---
<main class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="box" id="loading">
        <h1>Confirming your order</h1>
        <progress class="progress is-small is-primary" max="100%"></progress>
      </div>
      <div class="box is-hidden" id="success">
        <div class="notification is-success is-light">
          Your payment was
          <strong>successfull</strong>.
        </div>
        <div>
          <a id="linkedInAdd" target="_blank" title="Add certificate to LinkedIn Profile">
            <img src="https://download.linkedin.com/desktop/add2profile/buttons/en_US.png " alt="LinkedIn Add to Profile button"/>
          </a>
        </div>
        <p class="mb-3"><strong>Thank you very much for your order.</strong> Your certificate will be processed as soon as possible. This usually takes approximatly up to two business days. After that the certificate will be sent to the address you specified. It will be sent from The Netherlands and will normally take between 1 and 20 days to arrive, depenending on your geographical location. The further from The Netherlands, the longer it takes.</p>
        <a href="#faq">Questions?</a>
      </div>
      <div class="box is-hidden" id="failed">
        <div class="notification is-danger is-light">
          Your payment was
          <strong>not successfull</strong>. Please try again.
        </div>
        <div class="mb-3">
        <a id="paymentButton" class="button is-primary is-rounded">Retry payment</a>
        </div>
        <a href="#faq">Questions?</a>
      </div>
    </div>
  </div>
</main>
<a name="faq"></a>
{% include 'faq.njk' %}
<script>
  (() => {
    if (typeof fetch !== "function") {
      return; // This is need so as to not break Uncss, which is run in Node, which means fetch isnt defined.
    }
    const urlParams = new URLSearchParams(window.location.search);
    const orderId = urlParams.get('order_id');
    fetch('{{ meta.lambdaUrl }}/confirm-order?order_id=' + orderId + '&details=true')
      .then(response => response.json())
      .then(data => {
        document.getElementById('loading').classList.add('is-hidden');
        if (data.paymentStatus === "Successful") {
          if (dataLayer !== undefined) {
            dataLayer.push({'event': 'order-confirmed'});
          }
          document.getElementById('success').classList.remove('is-hidden');
          document.getElementById('linkedInAdd').setAttribute('href', `https://www.linkedin.com/profile/add?credentialDoesNotExpire=true&startTask=CERTIFICATION_NAME&name=Certificate%20Of%20Awesomeness&organizationId=68837705&issueYear=${new Date().getFullYear()}&issueMonth=&expirationYear=&expirationMonth=&certUrl=https%3A%2F%2Fwww.instituteofawesomeness.com%2Fcert%3Fid%3D${orderId}&certId=${orderId}`)
        } else {
          if (dataLayer !== undefined) {
            dataLayer.push({'event': 'order-confirmed-failed'});
          }
          document.getElementById('paymentButton').setAttribute('href', data.paymentUrl);
          document.getElementById('failed').classList.remove('is-hidden');
        }
        console.log(data);
      })
      .catch(err => console.error(err));
  })();
</script>