---
layout: layout/base.njk
canonical: /
---
{% from "input.njk" import input with context %}
{% from "countrySelector.njk" import countrySelector with context %}
<header class="hero hero__top is-fullheight has-grey-dark-bg">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div>
        <h2 class="title is-2 has-text-grey-light ">You are awesome.</h2>
      </div>
      <div class="has-sequenced-fade-in">
        <h2 class="subtitle has-text-grey-light mb-0">We know.</h2>
      </div>
      <div class="has-sequenced-fade-in">
        <h2 class="subtitle has-text-grey-light">You just need proof.</h2>
      </div>
      <div class="has-sequenced-fade-in mt-6">
        <a href="#body" class="button is-rounded is-primary">Get proof</a>
      </div>

    </div>
  </div>
</header>
<a name="body"></a>
<main>
  <section class="hero is-fullheight has-yellow-bg has-text-grey-dark">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h2 class="title">Meet the Institute of Awesomeness</h2>
        <h3 class="subtitle has-text-grey-darker mb-6">We provide you with Certified Awesomeness</h3>
        <div class="columns">
          <div class="column">
            <span id="price" class="tag is-rounded is-success is-price is-size-3 price"
                  title="Get your certificate now for only 15 euro!">&euro; 15,00
            </span>
            <img alt="Sample certificate" title="Example certificate" loading="lazy"
                 src="https://res.cloudinary.com/dexsmqaw4/image/upload/w_256,b_white/v1600862002/Assets/o1aqgzhlks3by3okc6ot.png">
          </div>
          <div class="column">
            <p class="mb-4">Don't you hate it when you're in a job interview and the recruiter asks you: "It
              says here on your r&eacute;sum&eacute; that you are awesome. Do you have any proof backing up this
              statement?"</p>
            <p class="mb-4">
              <strong>We've got you covered.</strong>
            </p>
            <p class="mb-6">With an official Certificate of Awesomeness you can show 'em who's boss once and
              for
              all.</p>
          </div>
        </div>

        <a href="#order" class="button is-rounded is-primary">Get your certificate now</a>
      </div>
    </div>
  </section>
  <form action="{{ meta.lambdaUrl }}/order-certificate">
    <a name="order"></a>
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h2 class="title has-text-primary">Get certified</h2>
          <h3 class="subtitle">Fill out your details and we'll send you your certificate</h3>
          {{ input(
            name='name',
            placeholder='Name',
            label='What is the name of this awesome person?',
            help='This is the name that will be printed on the certificate.'
          ) }}
          <a class="button is-rounded is-primary mt-6" href="#order-2">Next</a>
        </div>
      </div>
    </section>
    <a name="order-2"></a>
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h3 class="mb-3">Where can we ship your certificate?</h3>
          {{ input(
            name='street',
            placeholder='Street',
            label='Street'
          ) }}
          {{ input(
            name='zip',
            placeholder='Zip Code',
            label='Zip Code'
          ) }}
          {{ input(
            name='city',
            placeholder='City',
            label='City'
          ) }}
          {{ input(
            name='email',
            placeholder='E-mail',
            label='E-mail address'
          ) }}
          {{ countrySelector() }}

          <label class="checkbox mt-3">
            <input required type="checkbox">
            I agree to paying
            <span class="price">&euro; 15,00</span>
            for producing and framing the
            certificate
            and shipping
            it to this address.
          </label>
          <button type="submit" class="button is-loading is-rounded is-primary mt-6">Indulge in Awesomeness
          </button>
        </div>
      </div>
    </section>
  </form>
</main>

{% include 'faq.njk' %}

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box" id="callbackContainer">
      <progress class="progress is-small is-primary" max="100"></progress>
      Processing your order.
    </div>
  </div>
  <button class="modal-close is-large is-hidden" aria-label="close"></button>
</div>
<script>
  window.LAMBDA_URL = '{{ meta.lambdaUrl }}';
</script>
<script async src="{{ '/script.js' | url }}"></script>
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Institue of Awesomeness",
        "url": "{{ meta.url }}"
    }



</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "image": "https://jenskooij.nl/images/jens.jpg",
    "jobTitle": "Rector Magnificus of Institute of Awesomeness",
    "name": "Jens Kooij",
    "url": "https://jenskooij.nl"
  }
</script>
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Product",
        "description": "Certificate proving your awesomeness",
        "name": "Certificate of Awesomeness",
        "image": "https://res.cloudinary.com/dexsmqaw4/image/upload/w_256,b_white/v1600679643/ncgiygyypmwnbxgmvvao.png",
        "offers": {
            "@type": "Offer",
            "availability": "https://schema.org/InStock",
            "price": "15",
            "priceCurrency": "EUR",
            "url": "{{ meta.url }}"
        },
        "brand": "Institute of Awesomeness",
        "sku": "certificate-of-awesomeness"
    }

</script>