---
permalink: sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>{{ meta.url }}</loc>
        <lastmod>{{ page.date.toJSON().slice(0,10) }}</lastmod>
        <changefreq>monthly</changefreq>
        <priority>1</priority>
    </url>
</urlset>